<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    coreApp="true"
    package="com.android.server.telecom.overlay.common">

    <application
        android:hasCode="false"/>

    <overlay
        android:isStatic="true"
        android:priority="500"
        android:targetName="TelecomLibCustomization"
        android:targetPackage="com.android.server.telecom" />
</manifest>
