# Allow system server to read camera properties
get_prop(system_server, vendor_persist_camera_prop)

# Allow system server to read WFD debug properties
get_prop(system_server, vendor_wfd_sys_debug_prop)
